/*----------------------
SETTINGS
----------------------*/
$border-width-start: 2px;
$border-width-end: 10px;
$size: 25px;
$border-color: #000;
$transparent-color: #f66;
$border-style: dotted;
$animation-duration: 1s;
$animation-timing-function: ease;
/*----------------------
END OF SETTINGS
----------------------*/

$border-properties: $border-width-start $border-style $border-color;
$border-properties-transparent: $border-width-start $border-style $transparent-color;

@keyframes rotate {
    from {
        transform: rotate(-45deg);
        border-width: $border-width-start;
    }
    to {
        transform: rotate(315deg);
        border-width: $border-width-end;

    }
}

.animated-css-loader {
    display: inline-block;
    width: $size;
    height: $size;
    box-sizing: border-box;
    &:after {
        transform: rotate(-45deg);
        content: " ";
        box-sizing: border-box;
        display: inline-block;
        width: $size;
        height: $size;
        border-right: $border-properties-transparent;
        border-bottom: $border-properties;
        border-left: $border-properties;
        border-top: $border-properties;
        border-radius: $size / 2;
        animation-name: rotate;
        animation-duration: $animation-duration;
        animation-timing-function: $animation-timing-function;
        animation-iteration-count: infinite;
    }
}