/*----------------------
SETTINGS
----------------------*/
/*----------------------
END OF SETTINGS
----------------------*/
@keyframes rotate {
  from {
    transform: rotate(-45deg);
    border-width: 2px;
  }
  to {
    transform: rotate(315deg);
    border-width: 10px;
  }
}
.animated-css-loader {
  display: inline-block;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.animated-css-loader:after {
  transform: rotate(-45deg);
  content: " ";
  box-sizing: border-box;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-right: 2px dotted #f66;
  border-bottom: 2px dotted #000;
  border-left: 2px dotted #000;
  border-top: 2px dotted #000;
  border-radius: 12.5px;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=style.css.map */
